In [157]:
import numpy as np
import pandas as pd
import datetime
import scipy as sp
import seaborn as sns
import matplotlib.pyplot as plt
from google.cloud import bigquery

In [158]:
import os

In [159]:
df_co_summary = pd.read_csv('CO_Summary_aqi_date.csv', engine='python')
df_co_summary.head()

  date_local  avg_aqi_CO
0   1/1/1990        27.0
1   1/2/1990        23.0
2   1/3/1990        39.5
3   1/4/1990        40.5
4   1/5/1990        41.0

In [160]:

df_co_summary['date'] = pd.to_datetime(df_co_summary['date_local'])
df_co_summary.head()

  date_local  avg_aqi_CO       date
0   1/1/1990        27.0 1990-01-01
1   1/2/1990        23.0 1990-01-02
2   1/3/1990        39.5 1990-01-03
3   1/4/1990        40.5 1990-01-04
4   1/5/1990        41.0 1990-01-05

In [34]:
#df_co_summary['date_local'] = pd.to_datetime(df_co_summary['date_local'], format="%m/%d/%Y")
#df2 = df_co_summary.groupby([df_co_summary['date_local'].dt.year.rename('year'), df_co_summary['date_local'].dt.month.rename('month')]).size().reset_index(name='Count')
#df2

In [126]:
#df_co_summary['date_local'] =  pd.to_datetime(df_co_summary['date_local'], format='%m/%d/%Y')
#df2 = df_co_summary.groupby([df_co_summary['date_local'].dt.year.rename('year'), #df_co_summary['date_local'].dt.month.rename('month')]).size().reset_index(name='Count')
#df2

In [133]:
#df_co_summary.set_index('date_local',inplace=True)

In [134]:
from matplotlib import style
style.use('ggplot')
from ggplot import *

In [64]:
#df_co_summary['avg_aqi_CO'].plot()

In [65]:
#ggplot(aes(x = 'year'), 'Count') + geom_bar(fill = 'cyan', color = 'steelblue')

In [66]:
#df_co_new= df_co_summary[['avg_aqi_CO', 'date_local']]
#df_co_new

In [135]:
#import utilities as util

In [136]:
df_SF_crime = pd.read_csv('crime_per_day.csv', engine = 'python')

In [138]:
(df_SF_crime.head())

   crimes        date
0     557  2003-01-01
1     366  2003-01-02
2     406  2003-01-03
3     322  2003-01-04
4     354  2003-01-05

In [139]:
df_pop = pd.read_csv('Pop_per_year.csv', engine = 'python')

In [140]:
df_pop.head(2)

   sr no  year     pop
0      0  2003  757638
1      1  2004  750133

In [162]:
crime_per_capita = []
for i, date in enumerate(df_SF_crime['date']):
    for j, year in enumerate(df_pop['year']):
        if str(year) in date:
            pop = df_pop.loc[j, 'pop']
            crimes = df_SF_crime.loc[i, 'crimes']
            crime_per_capita.append(crimes*100000/float(pop))
            
df_SF_crime['crime_per_capita'] = crime_per_capita

In [163]:
df_SF_crime. head()

   crimes        date  crime_per_capita
0     557  2003-01-01         73.517960
1     366  2003-01-02         48.308031
2     406  2003-01-03         53.587597
3     322  2003-01-04         42.500508
4     354  2003-01-05         46.724161

In [164]:
len(df_SF_crime)

5613

In [165]:
#Now, I need to merge this dataframe with NO2, CO, pm25 on 'date'

In [166]:
df_NO2 = pd.read_csv('NO2_Summary_aqi_date.csv', engine ='python')

In [167]:
df_NO2.head()
df_NO2['date'] = pd.to_datetime(df_NO2['date_local'])
df_NO2.head()

  date_local  avg_aqi_NO2       date
0  1/25/1990         57.0 1990-01-25
1  1/26/1990         38.0 1990-01-26
2  1/27/1990         47.0 1990-01-27
3  1/28/1990         47.0 1990-01-28
4  1/29/1990         38.0 1990-01-29

In [168]:
df_pm25 = pd.read_csv('pm25_Summary_aqi_date.csv', engine = 'python')

In [169]:
df_pm25.head()
df_pm25['date'] = pd.to_datetime(df_pm25['date_local'])
df_pm25.head()

  date_local  avg_aqi_pm25       date
0   2/5/1999          46.0 1999-02-05
1  2/12/1999          70.0 1999-02-12
2  2/17/1999          41.0 1999-02-17
3  2/23/1999          54.0 1999-02-23
4  2/26/1999          39.0 1999-02-26

In [156]:
df_merged = pd.merge(df_co_summary, ), on="date"
df_merged = pd.merge(df_SF_crime, df_co_summary, left_on='date', how="inner")

SyntaxError: can't assign to function call (<ipython-input-156-3c3f5f10856c>, line 1)

In [147]:
df_merged

Empty DataFrame
Columns: [crimes, date, date_local, avg_aqi_CO]
Index: []